<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>inovscoringsystem</display-name>
  <welcome-file-list>
    <welcome-file>main.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>inov.fpf.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>inov.fpf.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmpGradeServlet</display-name>
    <servlet-name>EmpGradeServlet</servlet-name>
    <servlet-class>inov.fpf.servlet.EmpGradeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmpGradeServlet</servlet-name>
    <url-pattern>/EmpGradeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TeacherServlet</display-name>
    <servlet-name>TeacherServlet</servlet-name>
    <servlet-class>inov.fpf.servlet.TeacherServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeacherServlet</servlet-name>
    <url-pattern>/TeacherServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MsgServlet</display-name>
    <servlet-name>MsgServlet</servlet-name>
    <servlet-class>inov.fpf.servlet.MsgServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MsgServlet</servlet-name>
    <url-pattern>/MsgServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MnRsgServlet</display-name>
    <servlet-name>MnRsgServlet</servlet-name>
    <servlet-class>inov.fpf.servlet.MnRsgServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MnRsgServlet</servlet-name>
    <url-pattern>/MnRsgServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TeacherRegServlet</display-name>
    <servlet-name>TeacherRegServlet</servlet-name>
    <servlet-class>inov.fpf.servlet.TeacherRegServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeacherRegServlet</servlet-name>
    <url-pattern>/TeacherRegServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmpRegServlet</display-name>
    <servlet-name>EmpRegServlet</servlet-name>
    <servlet-class>inov.fpf.servlet.EmpRegServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmpRegServlet</servlet-name>
    <url-pattern>/EmpRegServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckServlet2</display-name>
    <servlet-name>CheckServlet2</servlet-name>
    <servlet-class>inov.fpf.servlet.CheckServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckServlet2</servlet-name>
    <url-pattern>/CheckServlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckServlet1</display-name>
    <servlet-name>CheckServlet1</servlet-name>
    <servlet-class>inov.fpf.servlet.CheckServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckServlet1</servlet-name>
    <url-pattern>/CheckServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckServlet3</display-name>
    <servlet-name>CheckServlet3</servlet-name>
    <servlet-class>inov.fpf.servlet.CheckServlet3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckServlet3</servlet-name>
    <url-pattern>/CheckServlet3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckServlet4</display-name>
    <servlet-name>CheckServlet4</servlet-name>
    <servlet-class>inov.fpf.servlet.CheckServlet4</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckServlet4</servlet-name>
    <url-pattern>/CheckServlet4</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GradeServlet</display-name>
    <servlet-name>GradeServlet</servlet-name>
    <servlet-class>inov.fpf.servlet.GradeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GradeServlet</servlet-name>
    <url-pattern>/GradeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmpGradeTwoServlet</display-name>
    <servlet-name>EmpGradeTwoServlet</servlet-name>
    <servlet-class>inov.fpf.servlet.EmpGradeTwoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmpGradeTwoServlet</servlet-name>
    <url-pattern>/EmpGradeTwoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GradeTwoServlet</display-name>
    <servlet-name>GradeTwoServlet</servlet-name>
    <servlet-class>inov.fpf.servlet.GradeTwoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GradeTwoServlet</servlet-name>
    <url-pattern>/GradeTwoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GradeTServlet</display-name>
    <servlet-name>GradeTServlet</servlet-name>
    <servlet-class>inov.fpf.servlet.EmpGradeTwoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GradeTServlet</servlet-name>
    <url-pattern>/GradeTServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmpgradeServletTwo</display-name>
    <servlet-name>EmpgradeServletTwo</servlet-name>
    <servlet-class>inov.fpf.servlet.EmpgradeServletTwo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmpgradeServletTwo</servlet-name>
    <url-pattern>/EmpgradeServletTwo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelServlet</display-name>
    <servlet-name>SelServlet</servlet-name>
    <servlet-class>inov.fpf.servlet.SelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelServlet</servlet-name>
    <url-pattern>/SelServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HRMServlet</display-name>
    <servlet-name>HRMServlet</servlet-name>
    <servlet-class>inov.fpf.servlet.HRMServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HRMServlet</servlet-name>
    <url-pattern>/HRMServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HRMRigServlet</display-name>
    <servlet-name>HRMRigServlet</servlet-name>
    <servlet-class>inov.fpf.servlet.HRMRigServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HRMRigServlet</servlet-name>
    <url-pattern>/HRMRigServlet</url-pattern>
  </servlet-mapping>
</web-app>